subsection {
    display: flex;
    margin: 0.5rem 0;
}

subsection::before {
    content: attr(label);
    min-width: 10rem;
    opacity: 0.3;
    line-height: 1.5rem;
}

@media only screen and (max-width: 768px) {
    subsection {
        flex-direction: column;
    }
}
